<%- include('../templates/head.ejs', {titulo: 'TITULO'}) %>

<%- include('../templates/navbar.ejs') %> 

<div class="container p-4">
    <%- include('navbarAdmin.ejs')  %> 
</div>


<%- include('../templates/footer.ejs') %> 