<%- include('templates/head.ejs', {titulo: 'TITULO'}) %>

<%- include('templates/navbar.ejs') %> 

<h1>Comprar</h1>

<img src="/img/m4a4-desolateEspace.png" alt="" style="width: 200px;">

<%- include('templates/footer.ejs') %> 