<nav class="navbar navbar-expand-lg navbar-dark bg-danger text-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin/compras">
            MENU ADMIN
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navBarAdmin" aria-controls="navBarAdmin" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navBarAdmin">
        <div class="navbar-nav">
          <a class="nav-link" href="/admin/compras">COMPRAS</a>
          <a class="nav-link" href="/admin/usuarios">USUARIOS</a>
          <a class="nav-link" href="/admin/skins">SKINS</a>
        </div>
        
      </div>
    </div>
</nav>