<%- include('./head.ejs', {titulo: 'TITULO'}) %>

<%- include('./navbar.ejs') %> 


<div class="container my-md-4 my-sm-0 d-flex justify-content-center">

    <div class="row border border-2 border-dark rounded">

        <div class="col-sm-12 col-md-4 bg-primary">
            <h1 class="text-center">CONTACTO</h1>

            <div class="fs-3">
                <i class="far fa-envelope"></i>
                <h6>contacto@compraventa.com</h6>
            </div>

            <div class="fs-3">
                <i class="fas fa-phone-square-alt"></i>
                <h6>(+34) 123 456 789</h6>
            </div>

            <div class="fs-3">
                <i class="fab fa-twitter"></i>
                <h6><a href="http://www.twitter.com" class="link text-dark" style="text-decoration: none;">
                    @compraVentaSkins
                </a></h6>
            </div>

            <div class="fs-3">
                <i class="fab fa-facebook"></i>
                <h6><a href="http://www.twitter.com" class="link text-dark" style="text-decoration: none;">
                    compraVentaSkins
                </a></h6>
            </div>

            
        </div>

        <div class="col-sm-12 col-md-8">
            <h1 class="text-center">¿COMO PODEMOS AYUDARTE?</h1>

            <form action="" class="row container">

                <div class="col-sm-12 col-md-6">
                    <label for="nombre" class="form-label">Nombre</label><br>
                    <input type="text" class="form-control" name="nombre" id="nombre" placeholder="Nombre">
                </div>

                <div class="col-sm-12 col-md-6">
                    <label for="apellidos" class="form-label">Apellidos</label><br>
                    <input type="text" class="form-control" name="apellidos" id="apellidos" placeholder="Apellidos">
                </div>

                <div class="col-12">
                    <label for="correo" class="form-label">Correo</label><br>
                    <input type="email" class="form-control" name="correo" id="correo" placeholder="Correo">
                </div>

                <div class="col-12">
                    <label for="mensaje" class="form-label">Correo</label><br>
                    <textarea class="form-control" placeholder="Mensaje" id="mensaje" style="height: 100px"></textarea>
                </div>

                <div class="my-3">
                    <button class="btn btn-success btn-block col-12" type="submit">
                        Enviar
                    </button>
                </div>

            </form>
        </div>

    </div>

</div>


<%- include('./footer.ejs') %> 