<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
    <div class="container-fluid">
        <a class="navbar-brand" href="/inicio">
            COMPRA Y VENTA
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/comprar">COMPRAR</a>
          <a class="nav-link" href="/vender">VENDER</a>
          
          <% if(admin){ %>
            <a class="nav-link" href="/usuarios"><i class="fas fa-user-cog"></i> ADMIN</a>
          <% } %> 
          
          
        </div>
        
      </div>
    </div>

    <div class="d-flex mx-4">
        <a href="login" class="mx-4">
            <i class="fas fa-user"></i>
        </a>
        
        <a class="mx-4">
            <i class="fas fa-shopping-cart"></i>
        </a>
    </div>
  </nav>